<a href="https://colab.research.google.com/github/Ritika20-pandey/PythonProgram/blob/main/program_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello Python")

Hello Python

In [ ]:
n1 = int(input("Enter the first number for addition: "))
n2 = int(input("Enter the second number for addition: "))
sum_result = n1 + n2
print("sum: {n1} + {n2} = {sum_result}")

Enter the first number for addition: 5
Enter the second number for addition: 6
sum: {n1} + {n2} = {sum_result}

In [ ]:
num3 = float(input("Enter the dividend for division: "))
num4 = float(input("Enter the divisor for division: "))
if num4 == 0:
 print("Error: Division by zero is not allowed.")
else:
 div_result = num3 / num4
print(f"Division: {num3} / {num4} = {div_result}")

Enter the dividend for division: 20
Enter the divisor for division: 2
Division: 20.0 / 2.0 = 10.0

In [ ]:
base = float(input("Enter the length of the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))


# Calculate the area of the triangle

area = 0.5 * base * height

# Display the result


print(f"The area of the triangle is: {area}")

Enter the length of the base of the triangle: 4
Enter the height of the triangle: 3
The area of the triangle is: 6.0

In [ ]:
a = input("Enter the value of the first variable (a): ")
b = input("Enter the value of the second variable (b): ")

# Display the original values

print(f"Original values: a = {a}, b = {b}")

# Swap the values using a temporary variable
temp = a
a = b
b = temp

# Display the swapped values

print(f"Swapped values: a = {a}, b = {b}")

Enter the value of the first variable (a): 3
Enter the value of the second variable (b): 7
Original values: a = 3, b = 7
Swapped values: a = 7, b = 3

In [ ]:
import random
print(f"Random number: {random.randint(1, 100)}")

Random number: 20

In [ ]:
kilometers = float(input("Enter distance in kilometers: "))
# Conversion factor: 1 kilometer = 0.621371 miles
conversion_factor = 0.621371
miles = kilometers * conversion_factor
print(f"{kilometers} kilometers is equal to {miles} miles")

Enter distance in kilometers: 20
20.0 kilometers is equal to 12.42742 miles

In [ ]:
celsius = float(input("Enter temperature in Celsius: "))
#Fahrenheit = (Celsius * 9/5) + 32
fahr = (celsius * 9/5) + 32
print(f"{celsius} degrees Celsius is equal to {fahr} degrees Fahr")

Enter temperature in Celsius: 38
38.0 degrees Celsius is equal to 100.4 degrees Fahr

In [ ]:
import calendar
year = int(input("Enter year: "))
month = int(input("Enter month: "))
cal = calendar.month(year, month)
print(cal)

Enter year: 2026
Enter month: 5
      May 2026
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [ ]:
a= 5
b = 10

# Swapping the number without a temporary variable

a, b = b, a
print("After swapping:")
print("a =", a)
print("b =", b)

After swapping:
a = 10
b = 5

In [2]:
year = int(input("Enter a year: "))
# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
 print("{0} is a leap year".format(year))
# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
 print("{0} is a leap year".format(year))
# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
 print("{0} is not a leap year".format(year))

Enter a year: 2026
2026 is not a leap year